<!DOCTYPE html>
<HTML lang="en-EN">
   
       
          
  
    <head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114936908-2"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-114936908-2');
        </script>

<!--mój CSS-->
     <link rel="stylesheet" type="text/css" href='/styles.css' media="print" onload="this.media='all'">
     
     <script  src="/main.js" async></script>
<!--material design-->
     <link rel="stylesheet" type="text/css" href='/style-form.css' media="print" onload="this.media='all'">
        
     <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


     

    
     <link href="https://fonts.googleapis.com/css?family=Finger+Paint&display=swap" rel="stylesheet">
     
     <link href="https://fonts.googleapis.com/css?family=Muli&display=swap&subset=latin-ext" rel="stylesheet">
     <link rel="icon" href="/images/fav.png" sizes="192x192" />

     

     <link hreflang="en-EN">
        <meta charset="utf-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#E9b000 "/>
        <title>Welcome to Moto Trips Poland</title>
        <meta name="description" content="You want to explore Poland on a motorcycle? Contact us and see the most interesting places, mountains, lakes, sea all perfectly prepared."/>
    </head>
    <body>
      

        <header>
            <figure>
                <a href="/"><img id="logo" alt="Logo Moto Trips" src="../images/logo-kontra.png"/></a>
                
            </figure>
        <!--
            <nav>
                <ul>
                    <li><a href="../index.html">Start</a></li> 
                    <li><a href="">Aktualności</a></li>
                    <li><a href="">Motocykle - testy</a></li>
                    <li><a href="">Trening</a></li> 
                    <li><a href="">Trasy</a></li>
                    <li><a href="design.html">Design</a></li>
                </ul>
            </nav>
        -->
           
        
        </header>